/.idea/
/.vs/
/out/
/build/
/CMakeSettings.json

/cmake-build-debug/
/cmake-build-release/
/make/build/
/proto/thrift/cpp/
/output/

/deployment/package/

/tool/netbar_power_manager/build/
/tool/netbar_power_manager/dist/
/tool/netbar_power_manager/*.spec
