*.log
output/
.vs/
*.obj
*.tlog
*.idb
*.pdb
.idea
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile

build/*
build-debug/*
cmake-build-debug
cmake-build-release
make/cmake-build-debug

src/core/lib/*.a
src/service_core/lib/*.a
*.pyc
deployment/package
.DS_Store

/proto/thrift/cpp

