*.log
output/
.vs/
*.obj
*.tlog
*.idb
*.pdb
.idea
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile

/make/build/
build/*
build-debug/*
cmake-build-debug
cmake-build-release
make/cmake-build-debug

src/core/lib/*.a
src/service_core/lib/*.a
*.pyc
.DS_Store

/proto/thrift/cpp
/deployment/package
