$def with (page)

<html>
<head>
    <title>My Blog</title>
    <style>
        #menu {
            width: 200px;
            float: right;
        }
    </style>
</head>
<body>

<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/list_p2p_active">list_p2p_active</a></li>
    <li><a href="/list_p2p_candidate">list_p2p_candidate</a></li>
    <li><a href="/list_ai_mining">list_ai_mining</a></li>
    <li><a href="/submit_task">submit_task</a></li>

</ul>

$:page

</body>
</html>