
[Unit]
Description=restart_dbc                    


[Service]
ExecStart=/etc/systemd/system/restart_dbc.sh                                                                                                                                                   

[Install]
WantedBy=multi-user.target



