
[Unit]
Description=restart_dbc                    


[Service]
ExecStart=/bin/bash  /etc/systemd/system/restart_dbc.sh    &

[Install]
WantedBy=multi-user.target



